// phone to tablet
@media (max-width : 599px) {

  body {
    font-size: 1em;
    line-height: 1.2;
    #content-wrapper {
    }
  }

  #name-wrap {
    // border: solid 2px green;
    display: inline-block;
  }

  #my-name {
    text-transform: uppercase;
    font-family: $font;
    font-weight: 300;
    font-size: 3em;
    display: block;
  }

  #name-subtitle {
    font-family: $font;
    font-size: 1.5em;
    text-align: right;
    display: inline-block;
    // border: solid 2px red;
    margin-left: 8px;
  }

  #header {
    color: white;
    background-color: $navy2;
    padding: 20px;
    #contact-section {
      display: none;
      // float: right;
      a {
        color: white;
        margin: 0 10px;
      }

      i:hover {
        color: #4099FF;
      }
    }
  }

  #left-bar {
    position: absolute;
    top: 100;
    left: 40;
    font-family: $font;
    line-height: 2;
    font-size: 3em;
    margin-left: 10px;
    margin-top: 45px;
    div:hover {
      text-decoration: underline;
    }
    a {
      color: black;
      text-decoration: none;
    }
  }

  #projects {
    height: 100%;
    #project-wrap {
      width: 50%;
      margin-left: 30%;
      margin-top: 2%;
      display: inline-block;
      .project-square {
        width: 200px;
        height: 200px;
        display: inline-block;
        margin-right: 15px;
        margin-bottom: 15px;
      }
      .project-square:hover {

      }
      .project-rect {
        width: 400px;
        height: 200px;
        display: inline-block;
        margin-right: 15px;
        margin-bottom: 15px;
      }
    }
  }

  #about {
    margin: 0 0 5% 0;
    border: solid 2px gray;
  }

  #contact {
    display: none;
  }

  #about-me {
    margin-top: 3%;
  }

  #bio {
    display: inline-block;
    font-family: $font;
    line-height: 1.5;
    font-size: 1.3em;
    width: 80%;
    margin: 2% 10%;
    border: solid 2px gray;
    text-align: center;
    vertical-align: middle;
  }

  #large-portrait {
    display: inline-block;
    vertical-align: middle;
    margin: 2% 0 0 25%;
    border: solid 2px gray;
    width: 50%;
    img {
      width: 100%;
    }
  }

  .back-to-top {
    display: block;
    font-family: $font;
    text-decoration: none;
    color: black;
    text-align: center;
  }

  .float-icon {
    padding: 18px 20px;
    border-radius: 100%;
    display: inline;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 9;
    background-color: $navy2;
    color: white;
    .icon-wrap {
      width: 45px;
      text-align: center;
    }
  }

  .menu-wrap {
    display: none;
    .menu {
      background-color: gray;
      color: white;
      position: fixed;
      bottom: 30px;
      right: 130px;
      padding: 10px;
      text-align: center;
      border-radius: 10px;
      font-size: 1.5em;
    }
    div {
      display: inline;
      margin-right: 18px;
    }
    .caret {
      position: fixed;
      bottom: 45px;
      right: 112px;
      width: 0;
      height: 0;
      border-top: 18px solid transparent;
      border-bottom: 18px solid transparent;
      border-left: 18px solid gray;
      z-index: 3;
    }
    a {
      color: white;
      text-decoration: none;
    }
  }
}
