a, a:visited {
  color: white;
}

.row-wrapper {
  margin: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 30px;
}

.row-card {
  height: 100%;
  display: inline-block;

  p {
    font-size: 20px;
    margin-top: 15px;
  }
}

.row-card-about {
  width: 30%;
  margin-left: 30px;
}

#projects {
  .featured-card {
    width: 100%;
  }

  .project-card {
    img {
      width: 70%;
      margin: auto;
    }

    .title-desc {
      .project-desc {
        height: unset;
      }
    }
  }
}

#projects .project-card .button-wrap a.featured-button {
  padding: 15px;
}
