/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* this will be re-styled further down */
*:focus {
  outline: none;
}

:root {
  --x-small: 16px;
  --small: 24px;
  --medium: 32px;
  --large: 40px;
  --x-large: 64px;

  /* for reference only - you can't use CSS vars in @media declarations */
  --screen-small: 480px;
  --screen-medium: 770px;
  --screen-large: 1024px;

  --profile-image-size: 270px;

  --header-font: "Archivo Black", sans-serif;
  --main-font: "Roboto", sans-serif;

  --black: #0a0c0d;
  --dark: #171a1c;
  --gray: #e5e5e5;
  --light: #ffffff;

  --accent-dark: #d89801;
  --accent-light: #03566d;

  /* for changing SVG fill color - see https://codepen.io/sosuke/pen/Pjoqqp */
  --accent-dark-filter: invert(49%) sepia(93%) saturate(940%) hue-rotate(14deg)
    brightness(100%) contrast(99%);
  --accent-light-filter: invert(24%) sepia(27%) saturate(3400%)
    hue-rotate(163deg) brightness(90%) contrast(98%);
  --light-filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(239deg)
    brightness(106%) contrast(104%);
}

#content {
  background-color: var(--dark);
  color: var(--light);
  font-family: var(--main-font);
  overflow: hidden;
}

#content.light {
  background-color: var(--light);
  color: var(--dark);
}

/* TODO: fix/add focus styles for all other focusable elements */

#content a:focus {
  outline: solid 3px var(--accent-dark);
}

#content.light a:focus {
  outline: solid 3px var(--accent-light);
}

#header {
  color: var(--accent-dark);
  font-family: var(--header-font);
  font-size: 48px;
  padding-left: var(--x-large);
  padding-bottom: var(--small);
}

#content.light #header {
  background: var(--light);
}

#toggle-wrap {
  display: flex;
  justify-content: flex-end;
  padding-top: var(--x-small);
  padding-right: var(--x-small);
}

@media screen and (max-width: 1024px) {
  #toggle-wrap {
    margin-bottom: var(--large);
  }
}

#theme-toggle {
  font-family: var(--main-font);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  justify-content: center;
  letter-spacing: 0.25em;
  line-height: 19px;
  text-transform: uppercase;
  margin: calc(var(--x-small) / 2) var(--small);
  width: 72px;
}

#theme-toggle:focus-within {
  outline: solid 3px var(--accent-light);
}

#content.light #theme-toggle:focus-within {
  outline: solid 3px var(--accent-dark);
}

.switch {
  display: inline-block;
  position: relative;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--medium);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: solid 3px var(--accent-light);
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: var(--accent-light);
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:checked + .slider {
  border: solid 3px var(--accent-dark);
}

input:checked + .slider:before {
  -webkit-transform: translateX(38px);
  -ms-transform: translateX(38px);
  transform: translateX(38px);
  background-color: var(--accent-dark);
}

@keyframes fade {
  from {
    transform: translate3d(0, 80px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fade {
  from {
    transform: translate3d(0, 80px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

#site-theme-name {
  margin-top: var(--small);
  text-align: center;
}

#content.light #site-theme-name {
  color: var(--accent-light);
}

.profile-wrap {
  display: flex;
  margin-bottom: calc(var(--x-large) * 2);
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  opacity: 0;
  animation-name: fade;
  -webkit-animation-name: fade;
}

@media screen and (max-width: 1024px) {
  .profile-wrap {
    padding-left: var(--x-large);
    margin-bottom: var(--small);
    display: block;
  }
}

.picture-highlight {
  margin-top: var(--x-large);
  width: var(--profile-image-size);
  height: var(--profile-image-size);
  border-radius: 100%;
  background-color: var(--black);
  position: absolute;
  transform: translateX(calc(-1 * var(--medium)))
    translateY(calc(-1 * var(--large)));
}

#content.light .picture-highlight {
  background-color: var(--dark);
}

@media screen and (max-width: 1024px) {
  .picture-highlight {
    transform: translateX(calc(-1 * var(--medium)))
      translateY(calc(-1 * var(--small)));
  }

  .image-crop {
    margin-top: var(--small);
  }
}

@media screen and (max-width: 770px) {
  .picture-highlight {
    display: none;
  }
}

.image-crop {
  max-width: 270px;
  height: auto;
  position: relative;
  overflow: hidden;
}

.profile-details {
  color: var(--light);
  padding: var(--x-large);
}

#content.light .profile-details {
  color: var(--dark);
}

.profile-details > p:nth-of-type(1) {
  margin-bottom: var(--x-small);
  text-shadow: -8px 4px var(--black);
}

#content.light .profile-details > p:nth-of-type(1) {
  text-shadow: none;
}
@media screen and (max-width: 770px) {
  .profile-details {
    padding: var(--x-large) var(--large);
  }
}

.profile-details img {
  padding: 0 calc(var(--x-small) / 4);
}

.profile-subdetails {
  display: flex;
  align-items: center;
}

.profile-subdetails img {
  margin-bottom: -5px;
}

.profile {
  display: block;
  margin: 0 auto;
  height: auto;
  width: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.role {
  color: var(--accent-dark);
  font-size: var(--medium);
  display: inline-block;
}

#content.light .role {
  color: var(--accent-light);
}

.section-header {
  color: var(--light);
  font-size: var(--large);
  font-family: var(--header-font);
  line-height: 47px;
  display: flex;
  align-items: center;
  margin-bottom: var(--large);
  cursor: pointer;
}

#content.light .section-header {
  color: var(--dark);
}

@media screen and (max-width: 770px) {
  .section-header {
    padding-left: 0;
    margin-bottom: var(--large);
    font-size: var(--medium);
  }
}

.my-work {
  padding: 0 var(--large) 0 var(--large);
}

.down-arrow-icon {
  display: inline-block;
  height: 38px;
  width: 25px;
  background-image: url("/assets/icons/arrow-down.svg");
  filter: var(--light-filter);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

#content.light .down-arrow-icon {
  filter: var(--dark-filter);
}

.work-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: var(--large);
  padding-right: var(--large);
}

.work-card {
  border: solid 2px var(--light);
  font-size: var(--small);
  text-decoration: none;
  line-height: var(--medium);
  margin-bottom: var(--large);
  width: 36%;
  padding: var(--medium);
}

@media screen and (max-width: 1024px) {
  .work-wrap {
    padding-left: calc(var(--x-large));
    padding-right: calc(var(--x-large));
  }

  .work-card {
    width: 100%;
  }
}

#content.light .work-card {
  border: solid 4px var(--dark);
}

.work-card img {
  margin-right: calc(45% / 2);
}

.work-card.extended {
  width: 100%;
}

.title {
  display: flex;
  justify-content: space-between;
  color: var(--light);
  font-size: var(--medium);
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: var(--x-small);
  text-decoration: none;
  border-bottom: 3px solid transparent;
}

#content.light .title {
  color: var(--dark);
}

.title img {
  padding-bottom: 45px;
}

.share-icon {
  display: inline-block;
  height: 32px;
  width: 35px;
  background-image: url("/assets/icons/outside-link.svg");
  filter: var(--light-filter);
  background-position: left;
  background-size: auto;
  background-repeat: no-repeat;
  margin: 7px 0px;
}

#content.light .share-icon {
  filter: var(--dark-filter);
}

a.title:hover {
  border-bottom: solid 3px var(--accent-dark);
}

#content.light a.title:hover {
  border-bottom: solid 3px var(--accent-light);
}

.subtitle {
  margin-bottom: var(--small);
}

.description {
  color: var(--light);
  font-size: 20px;
}

#content.light .description {
  color: var(--dark);
}

.bonus-details {
  color: var(--light);
  font-size: var(--x-small);
  text-align: right;
  padding-top: var(--small)
}

#content.light .bonus-details {
  color: var(--black);
}

.card-background.icons {
  display: flex;
  margin-top: var(--small);
  background-color: var(--light);
  padding: 8px;
  padding-right: 0;
}

.card-background.icons img {
  margin: 0;
  margin-right: 8px;
}

.highlight {
  color: var(--accent-dark);
  font-weight: bold;
}

#content.light .highlight {
  color: var(--accent-light);
}

.card-background img {
  margin-top: var(--large);
  width: 100%;
  box-sizing: border-box;
}

.card-background.icons img {
  height: 40px;
}

#content.light .card-background img {
  border: solid 1px var(--dark);
}

#content.light .card-background.icons img {
  border: none;
}

.favorites {
  padding: var(--x-large);
}

.tags-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  color: var(--dark);
  padding: 20px 30px;
  background: var(--accent-dark);
  margin: var(--x-small) var(--small) var(--x-small) 0;
  font-size: var(--small);
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 770px) {
  .tags-wrapper {
    flex-wrap: wrap;
    padding-left: var(--x-large);
  }

  .tag {
    padding: 10px 20px;
    font-size: calc(var(--x-small) * 1.25);
    margin: 0 var(--x-small) var(--x-small) 0;
  }
}

#content.light .tag {
  background: var(--accent-light);
  color: var(--light);
}

#testimonials {
  background-color: var(--black);
  padding: var(--x-large);
}

#content.light #testimonials {
  background-color: var(--gray);
  color: var(--dark);
}

.quote:nth-of-type(1) {
  padding-left: var(--medium);
  padding-bottom: 220px;
}

.quote:nth-of-type(2) {
  padding-right: var(--medium);
  padding-top: 220px;
}

#testimonials p {
  font-family: var(--main-font);
  letter-spacing: 0.01em;
  font-size: calc(var(--small) * 0.8);
  line-height: calc(var(--small) * 1.5);
  padding: var(--medium);
}

#content.light #testimonials p {
  font-weight: bold;
}

.testimonials-content {
  display: flex;
}

@media screen and (max-width: 1024px) {
  .testimonials-content {
    display: flex;
    flex-direction: column;
  }

  #testimonials p {
    padding: var(--x-small) var(--small);
  }
}

.quote-left-icon {
  display: inline-block;
  width: 102px;
  height: 52px;
  background-image: url("/assets/icons/quote-left.svg");
  filter: var(--accent-dark-filter);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  padding-top: 15px;
}

#content.light .quote-left-icon {
  filter: var(--accent-light-filter);
}

.quote-wrap-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (max-width: 1024px) {
  .quote-wrap-right {
    display: flex;
    align-items: flex-end;
    height: 70px;
  }
}

.quote-right-icon {
  display: inline-block;
  width: 102px;
  height: 52px;
  background-image: url("/assets/icons/quote-right.svg");
  filter: var(--accent-dark-filter);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  padding-bottom: 15px;
}

#content.light .quote-right-icon {
  filter: var(--accent-light-filter);
}

.link-wrap {
  padding-top: var(--large);
}

.link {
  color: var(--accent-dark);
  background: none;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: solid 3px var(--accent-dark);
  box-sizing: border-box;
  font-family: var(--main-font);
  font-size: var(--x-small);
  padding: calc(var(--x-small)) var(--large);
  letter-spacing: 0.25em;
  margin-right: var(--small);
}

#content.light .link {
  color: var(--accent-light);
  border-bottom: solid 3px var(--accent-light);
}

.link:hover {
  background: var(--accent-dark);
  color: var(--dark);
}

#content.light .link:hover {
  background: var(--accent-light);
  color: var(--light);
}

@media screen and (max-width: 1060px) {
  .link {
    display: block;
    margin-bottom: var(--small);
    width: 180px;
    text-align: center;
  }
}

#footer {
  background: var(--black);
  color: var(--light);
  font-family: var(--main-font);
  padding: var(--large);
  padding-left: var(--x-large);
  letter-spacing: 0.25em;
}

#footer p:nth-of-type(1) {
  margin-bottom: var(--x-small);
}

#content.light #footer {
  background: var(--gray);
  color: var(--black);
}

#top-scroll {
  background-color: var(--accent-dark);
  border-radius: 100%;
  height: calc(2 * var(--x-small));
  width: calc(2 * var(--x-small));
  padding: var(--x-small);
  position: fixed;
  right: var(--small);
  bottom: var(--small);
  cursor: pointer;

  animation-duration: 0.6s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  opacity: 0;
  animation-name: fade;
  -webkit-animation-name: fade;
}

#content.light #top-scroll {
  background-color: var(--accent-light);
}

.top-scroll-icon {
  display: inline-block;
  height: 35px;
  width: 30px;
  background-image: url("/assets/icons/up-arrow.svg");
  filter: var(--dark-filter);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

#content.light .top-scroll-icon {
  filter: var(--light-filter);
}
