$background-gray: #E8E9EB;
$navy: #0f183e;
$navy2: #063141;
$purple: #582c83;
$warm-gray: #484848;
$accent-blue: #14d7f5;
$font: "Open Sans", "Arial", sans-serif;
$header-font: "Montserrat", sans-serif;


//media queries
@import "smallPhoneView";
@import "phoneView";
@import "tabletView";
@import "desktopView";
@import "desktopHDView";
@import "projectPage";

#recommendations {
  font-family: $font;
  padding: 100px 150px;
  font-size: 20px;
  background: $navy2;
  color: white;

  p:nth-of-type(1) {
    padding: 0 50px;
    line-height: 1.4;
  }

  .quotation-mark {
    color: lightblue;
    font-size: 90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 10px;

    &:nth-of-type(2) {
      text-align: right;
      line-height: 80px;
    }
  }
}
